# Server port
PORT=3001

# WhatsApp session name
SESSION_NAME=whatsapp

# Authentication
AUTH_USERNAME=yamiddev
AUTH_PASSWORD=nidian56
AUTH_SECRET=auto-whatsapp-secret-key-2024

# Environment
NODE_ENV=production
